
.navBar_GeneralContainer ul {
  background-color: rgba(0, 72, 255, 0.784);
  display: flex;
  column-gap: 25px;
  list-style: none;
  padding: 8px 10px;
}

.navBar_GeneralContainer a {
  text-decoration: none;
  color: white;

}
.navBar_GeneralContainer a:hover {
  text-decoration: underline;
  color: rgb(229, 228, 228);
}
